* {
  font-family: "SF_HambakSnow";
}
#Logo_Main {
  color: #ff3399;
}
#star {
  font-family: "JSongMyung-Regular-KO";
}
a {
  text-decoration: none;
}
#title {
  margin-bottom: 50px;
}
#h1title {
  margin-top: 100px;
}
#lastWord {
  display: block;
  margin-bottom: 400px;
}
@font-face {
  font-family: "SF_HambakSnow";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JSongMyung-Regular-KO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
